<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Budgtr</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
</head>

<body>
    <div class="container">
        <h1>Budgtr</h1>

        <table>
            <% for(let i=0; i < ledger.length; i++) { %>
                <tr>

                    <td>

                        <%= ledger[i].date %>
                    </td>
                    <td>
                        <a href="#">
                            <%= ledger[i].name %>
                        </a>
                    </td>
                    <td>
                        <%= ledger[i].amount %>
                    </td>
                </tr>
                <% } %>
        </table>
        <button href="/budget/new">Add New</button>
    </div>
</body>

</html>