<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create a new Item</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
</head>

<body>
    <h1>New Bakery Item page</h1>
    <!--  NOTE: action will be the route, method will be the HTTP verb-->
    <!-- method can only be POST or GET -->
    <!-- have to have name set to something -->
    <form action="/bakedGoods" method="POST">
        Name: <input type="text" name="name" /><br />
        Price: <input type="text" name="price" /><br />
        <br />
        <input type="submit" value="Create Baked Good" />
    </form>
</body>

</html>