<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create a new Item</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
</head>

<body>
    <div class="container">
        <h1>New Item page</h1>
        <br>
        <form action="/budgets" method="POST">
            Date: <input type="text" name="date" /><br />
            Name: <input type="text" name="name" /><br />
            From: <input type="text" name="from" /><br />
            Amount: <input type="text" name="amount" /><br />
            Tags: <input type="text" name="tags" /><br />
            <br />
            <input type="submit" value="Add Expense" />
        </form>
    </div>
</body>

</html>