<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biscoff BakedGoods</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
</head>

<body>
    <h1>Budgtr Show Page</h1>
    The <%= item.name; %> is <%= item.price; %>. <br>
            <img src="<%= item.image %>">
            <br /><br />
            <a href="/bakedGoods">Back to Index</a>
</body>

</html>